.container{
  width: 600px;
  border: 5px solid black;
  margin: 30px auto;
  padding: 2px;
  


}


.grup-1{
  
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.grup-2{
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 30px;

  
}


.img img{
  width: 80px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 50px;
  
}
