@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#navigasi{
  position: sticky;
  top: 0px;
  background-color: white;
}

.user {
  /* background-color: #717171; */
  width: 40px;
  height: 40px;
  position: relative;
}
.user span {
  color: white;
  background-color: red;
  position: absolute;
  right: 2px;
  top: -7px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}

.container-navigasi {
  /* background-color: rgb(234, 186, 127); */
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 25px;
  margin-bottom: 20px;
  /* font-family: "Inter", sans-serif; */
  justify-content: space-between;
  /* padding-right: 40px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 10px; */
}
.logo-header {
  /* background-color: aquamarine; */
  display: flex;
  font-size: 20px;
  font-weight: 750;
  align-items: center;
}
.logo-header img {
  margin-right: 20px;
}
.list-navigasi {
  /* background-color: yellow; */
  display: flex;
  margin-top: 15px;
  font-size: 15px;
  align-items: center;
}

.list-navigasi li {
  list-style: none;
  margin-left: 20px;
  /* margin-right: 10px; */
}
#banner {
  background-color: #f5f7fa;
}
.container-banner {
  /* background-color: rgb(169, 169, 247); */
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.belajar {
  /* background-color: antiquewhite; */
}
.container-banner img {
  /* background-color: bisque; */
}
.belajar h1 {
  color: #4d4d4d;
  font-size: 50px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.belajar .text-abudzar {
  color: #faa613;
  font-size: 50px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.belajar p {
  color: #717171;
  font-size: 11px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.belajar button {
  background-color: #faa613;
  border: none;
  color: white;
  font-size: 19px;
  padding: 10px 20px;
  border-radius: 7px;
}
.list-navigasi button {
  background-color: #faa613;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 7px;
  margin-left: 30px;
}

button:hover {
  background-color: rgb(217, 128, 10);
}

#height{
  height: 200vh;
}


