#box1{
    color: white;
    background-color: rgba(0, 0, 255, 0.881);
    font-size: 20px;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}
#box2{
    color: white;
    background-color: green;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
    border-radius: 20px; 
}
#box3{
    color: white;
    background-color: rgb(255, 145, 0);
    font-size: 20px;
    padding: 30px;
    margin: 30px;
    border-radius: 20px; 
}