/* CSS Code (in style.css file) */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #f0f0f0;
}

nav {
  background-color: navy;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

nav a {
  font-family: cursive;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 20px;
  transition: color 0.2s ease;
  font-size: large;
}

nav a:hover {
  color: gold;
}
div {
  overflow: auto; /* to contain the floated elements */
}

img {
  float: left; /* float the image to the left */
  margin: 10px; /* add some margin to the image */
}

p {
  margin-left: 120px; /* add some margin to the text to make room for the image */
}
