.tugas{
    background-color: #405D72;
    overflow: hidden;
    padding-left: 40%;
    padding-right: 20%;
}
.tugas li{
    list-style-type: none;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tugas li a{
    text-decoration: none;
    margin: 14px 16px;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.tugas li a:hover{
    background-color: #758694;
    color: yellow;
}